/* test commit */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    background-color: antiquewhite;
    text-align: center;
}


.section {
    background-color: antiquewhite;
    padding: 20px;
    margin-left: 580px;
    color: #333;
    justify-content: center;
    width: 300px;
    border: 5px solid green;
    box-sizing: content-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: blueviolet;
    align-self: flex-start;
   
}

input[type="date"] {
    padding: 10px;
    border: 1px solid burlywood;
    border-radius: 8px;

}
 input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
 }

 button {
  margin-top: 10px;
  padding: 10px 10px;
  background-color:rgb(239, 244, 239);
  border: 10px 10px;
  border-radius: 20px;
  font-size: 35px;
  
}

button:hover {
    background-color: blueviolet;
}

