
body {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50%;
   
}


.box {
    background-color: antiquewhite;
    padding: 40px;
    margin: 30px auto;
    color: #333;
    max-width: 500px;
    width: 100%;
    box-shadow: 10px rgb(red, green, blue);
    border-radius: 10px;
    border: 3px solid black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid burlywood;
    border-radius: 8px;
}
 input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
 }

button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(red, green, blue);
    border:none;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(124, 244, 192);
}

#akanName {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: #a6a4af;
}